:root {
  /* Base colors */
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --vt-c-indigo: #2c3e50;
  --vt-c-coral: #fb7185;

  /* Text & UI */
  --color-background: var(--vt-c-white);
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;

  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);

  --color-heading: var(--vt-c-indigo);
  --color-text: var(--vt-c-indigo);
  --color-accent: #7c3aed;
  --color-highlight: var(--vt-c-coral);

  --color-terminal-bg: rgba(0,0,0,0.95);
  --color-terminal-text: #4ade80;
  --color-terminal-border: #22c55e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: #222222;
    --color-background-mute: #282828;

    --color-border: rgba(84, 84, 84, 0.48);
    --color-border-hover: rgba(84, 84, 84, 0.65);

    --color-heading: #ffffff;
    --color-text: rgba(235, 235, 235, 0.84);
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 15px;
}

a:not([class]) {
  text-decoration: none;
  color: hsla(0, 89%, 71%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:not([class]):hover {
    background-color: hsla(0, 100%, 61%, 0.2);
  }
}
